<div class="gallery">
  <a href="img/fotka.jpg"><img src="img/fotka.jpg" alt="Popis fotky 1"></a>
  <a href="img/fotka2.jpg"><img src="img/fotka2.jpg" alt="Popis fotky 2"></a>
  <a href="img/fotka3.jpg"><img src="img/fotka3.jpg" alt="Popis fotky 3"></a>
  <a href="img/fotka4.jpg"><img src="img/fotka4.jpg" alt="Popis fotky 4"></a>
  <a href="img/fotka5.jpg"><img src="img/fotka5.jpg" alt="Popis fotky 5"></a>
  <a href="img/fotka.jpg"><img src="img/fotka.jpg" alt="Popis fotky 6"></a>
  <a href="img/fotka2.jpg"><img src="img/fotka2.jpg" alt="Popis fotky 7"></a>
  <a href="img/fotka3.jpg"><img src="img/fotka3.jpg" alt="Popis fotky 8"></a>
  <a href="img/fotka4.jpg"><img src="img/fotka4.jpg" alt="Popis fotky 9"></a>
  <a href="img/fotka5.jpg"><img src="img/fotka5.jpg" alt="Popis fotky 10"></a>
  <a href="img/fotka.jpg"><img src="img/fotka.jpg" alt="Popis fotky 11"></a>
  <a href="img/fotka2.jpg"><img src="img/fotka2.jpg" alt="Popis fotky 12"></a>
  <a href="img/fotka3.jpg"><img src="img/fotka3.jpg" alt="Popis fotky 13"></a>
  <a href="img/fotka4.jpg"><img src="img/fotka4.jpg" alt="Popis fotky 14"></a>
  <a href="img/fotka5.jpg"><img src="img/fotka5.jpg" alt="Popis fotky 15"></a>
  <a href="img/fotka.jpg"><img src="img/fotka.jpg" alt="Popis fotky 16"></a>
  <a href="img/fotka2.jpg"><img src="img/fotka2.jpg" alt="Popis fotky 17"></a>
  <a href="img/fotka3.jpg"><img src="img/fotka3.jpg" alt="Popis fotky 18"></a>
  <a href="img/fotka4.jpg"><img src="img/fotka4.jpg" alt="Popis fotky 19"></a>
  <a href="img/fotka5.jpg"><img src="img/fotka5.jpg" alt="Popis fotky 20"></a>
</div>