.gallery {
  width: 100%;
  padding-left: 0;
  text-align: center;

  .gallery-item {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 0 .5em .5em 0;
  }

  a {
    display: block;
    width: 100%;
    border: 1px solid $main-color;
  }

  img {
    padding: 0;

    @include transition;

    &:hover,
    &:focus {
      transform: scale(1.025);
    }
  }
}