.gallery {
  width: 100%;
  text-align: center;

  a {

  }

  img {
    //width: 22.5%;
    width: 30%;
    padding: 0;
    margin: {
      right: .4em;
      bottom: .6em;
    }

    transition: all .4s ease;

    &:hover,
    &:focus {
      //opacity: 1;
      transform: scale(1.025);
    }
  }
}