.image-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($main-bg, .7);

  .left,
  .right {
    position: fixed;
    top: 50%;
    width: 6em;
    opacity: .6;

    @include transition;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .left {
    transform: rotate(90deg);
  }

  .right {
    transform: rotate(-90deg);
    right: 0;
  }

  .inner-img {
    position: fixed;
    top: 10em;
    left: 50%;
    width: 50em;
    margin-left: -25em;

    border: 4px solid $image-border;
    border-radius: .3em;
  }

  .image-text {
    position: fixed;
    text-align: center;
    left: 25%;
    bottom: 20%;
  }

  .close-btn {
    font-size: 2em;
    position: fixed;
    top: 25px;
    right: 25px;
    width: 2em;
    height: 2em;
    line-height: 1.8em;
    text-align: center;
    color: $main-color;
    background: none;
    border: 2px solid $main-color;
    border-radius: 50%;

    @include transition(.2s);

    &:hover {
      color: $header-link;
    }
  }
}