<article class="about-me container">
  <h1 class="headline">About my way</h1>

  <% @about_articles.each do |article| %>
    <div class="about-me_article">
      <h3 class="headline">
        <span class="name"><%= article.article_name %></span>
        <span class="date"><strong><%= article.date %></strong></span>
      </h3>
      <p class="text"><%= article.article_text %></p>
      <% if signed_in? %>
        <div class="edit-wrapper">
          <button class="btn">Edit</button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="about-me_article">
    <h3 class="headline">
      <span class="name">My first story</span>
      <span class="date"><strong>2010</strong></span>
    </h3>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa dignissimos, dolor eligendi ex ipsum, magni molestias, numquam odio optio quasi qui reiciendis saepe tempore temporibus. Accusantium numquam quaerat voluptatem!
    </p>
    <% if signed_in? %>
      <div class="edit-wrapper">
        <button class="btn">Edit</button>
      </div>
    <% end %>
  </div>
</article>

<% if signed_in? %>
  <div class="add-container">
    <span class="breakline"></span>
    <h2 class="headline">Add new about me article here</h2>
    <% render 'form' %>
    <span class="breakline"></span>
  </div>
<% end %>