<article class="about-me article">
  <h1 class="headline">About my way</h1>
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet autem beatae consectetur excepturi exercitationem explicabo facere id, ipsam neque nesciunt odit porro praesentium rem repellat similique vero voluptas voluptatem!
  </p>
</article>