<article class="contact-me container">
  <h1 class="headline">Contact me</h1>
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet autem beatae consectetur excepturi exercitationem explicabo facere id, ipsam neque nesciunt odit porro praesentium rem repellat similique vero voluptas voluptatem!
  </p>
</article>