.contact-me {
  .contact {
    position: relative;
    text-align: center;
    margin: 4em 0;

    .name {
      display: inline-block;
      display: none;
    }

    .social-link {
      font-size: 2em;
      padding: .4em;
      border-radius: .8em;
    }
  }
}