body.sign_in {
  .header {
    display: none;
  }

  .main {
    width: 100%;
    margin-left: 0;
    padding-left: 0;

    .container {
      text-align: center;
    }

    .headline {
      margin-bottom: 2em;
    }

    .go-back {
      margin: 2em 0;
    }

    #sign-in_form {
      margin-bottom: 10em;
    }
  }
}