<header class="header">
  <div class="content">
    <!--            <img src="img/marburi.png" alt="MarBuri">-->
    <h1>
      <a href=""><span>Martin</span> Burian</a>
    </h1>
  </div>
  <nav class="header-nav">
    <div class="menu">
      <img src="img/arrow.png" width="32">
      <h2>Menu</h2>
    </div>
    <ul>
      <li><a class="active" href="">Portfolio</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</header>